.container{
    width: 100%;
    height: 100vh;
    background-color:  #f6f6f6;

    .header-bg {
        background: url(https://smart-static.wosaimg.com/themes/default/bgHeader.webp?x-oss-process=image/format,png) no-repeat;
        background-size: cover;
        height: 145px;
        width: 100%;
    }
    .goods-list-wrap{
        padding: 0px 20px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;

        .goods-item{

            width:40%;
            display: flex;
            flex-direction: column;

            .header {

                width: 100%;
                height:80px
            }
            
        }

    }
}